.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3. 1fr) 50px 50px;
    gap: 20px;
}
.box{
    background-color: aquamarine;
}
#box1{
    grid-row: span 5;
}
#box11, #box12 {
    grid-column: span 3;
}